@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p,a{
    font-weight: 300;
}
.App-header{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 20px;
   color: white;
   background-color:black;
   padding: 10px 20px;
   position: sticky;
   top: 0;
   z-index: 99;
}
.App-header__left span{
    color: #d9021c;
}
.App-header__right
{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.App-header__right h4{
    cursor: pointer;
}
.App-header__right button{
 padding: 8px 20px;   
 background-color:#d9021c;
 border:none;
 color: white;
 border-radius:5px;
 cursor: pointer;
}